{"name": "🆁🅴🆁🆄🅽","author": "🆁🅴🆁🆄🅽","url": "","image": "http://guflix.streaming-fast.com/logo/2rerun.jpg","stations": [{"name": "เพื่อนผมมีมรดกเป็นโฮมสเตย์ครับ Before Sunrise ตอนที่ 8 วันที่ 16 กันยายน 2566 ","image": "http://cdn.watchlakorn.in/storage/images/av-1690677417.jpg","url": "http://idooxtream.streaming-fast.com/idooxtreamwiseplay/https://www.watchlakorn.in/%e0%be%d7%e8%cd%b9%bc%c1%c1%d5%c1%c3%b4%a1%e0%bb%e7%b9%e2%ce%c1%ca%e0%b5%c2%ec%a4%c3%d1%ba%b5%cd%b9%b7%d5%e88%c7%d1%b9%b7%d5%e816%a1%d1%b9%c2%d2%c2%b92566-video-6137/152b884fa838017741effe080f49038d/rerun_ep.m3u8","import": false},{"name": "เพื่อนผมมีมรดกเป็นโฮมสเตย์ครับ After Sunset ตอนที่ 7 วันที่ 9 กันยายน 2566 ","image": "http://cdn.watchlakorn.in/storage/images/av-1690677417.jpg","url": "http://idooxtream.streaming-fast.com/idooxtreamwiseplay/https://www.watchlakorn.in/%e0%be%d7%e8%cd%b9%bc%c1%c1%d5%c1%c3%b4%a1%e0%bb%e7%b9%e2%ce%c1%ca%e0%b5%c2%ec%a4%c3%d1%ba%b5%cd%b9%b7%d5%e87%c7%d1%b9%b7%d5%e89%a1%d1%b9%c2%d2%c2%b92566-video-6138/152b884fa838017741effe080f49038d/rerun_ep.m3u8","import": false},{"name": "เพื่อนผมมีมรดกเป็นโฮมสเตย์ครับ  ตอนที่ 6 วันที่ 2 กันยายน 2566 ","image": "http://cdn.watchlakorn.in/storage/images/av-1690677417.jpg","url": "http://idooxtream.streaming-fast.com/idooxtreamwiseplay/https://www.watchlakorn.in/%e0%be%d7%e8%cd%b9%bc%c1%c1%d5%c1%c3%b4%a1%e0%bb%e7%b9%e2%ce%c1%ca%e0%b5%c2%ec%a4%c3%d1%ba%b5%cd%b9%b7%d5%e86%c7%d1%b9%b7%d5%e82%a1%d1%b9%c2%d2%c2%b92566-video-5974/152b884fa838017741effe080f49038d/rerun_ep.m3u8","import": false},{"name": "เพื่อนผมมีมรดกเป็นโฮมสเตย์ครับ  ตอนที่ 5 วันที่ 26 สิงหาคม 2566 ","image": "http://cdn.watchlakorn.in/storage/images/av-1690677417.jpg","url": "http://idooxtream.streaming-fast.com/idooxtreamwiseplay/https://www.watchlakorn.in/%e0%be%d7%e8%cd%b9%bc%c1%c1%d5%c1%c3%b4%a1%e0%bb%e7%b9%e2%ce%c1%ca%e0%b5%c2%ec%a4%c3%d1%ba%b5%cd%b9%b7%d5%e85%c7%d1%b9%b7%d5%e826%ca%d4%a7%cb%d2%a4%c12566-video-5930/152b884fa838017741effe080f49038d/rerun_ep.m3u8","import": false},{"name": "เพื่อนผมมีมรดกเป็นโฮมสเตย์ครับ  ตอนที่ 4 วันที่ 19 สิงหาคม 2566 ","image": "http://cdn.watchlakorn.in/storage/images/av-1690677417.jpg","url": "http://idooxtream.streaming-fast.com/idooxtreamwiseplay/https://www.watchlakorn.in/%e0%be%d7%e8%cd%b9%bc%c1%c1%d5%c1%c3%b4%a1%e0%bb%e7%b9%e2%ce%c1%ca%e0%b5%c2%ec%a4%c3%d1%ba%b5%cd%b9%b7%d5%e84%c7%d1%b9%b7%d5%e819%ca%d4%a7%cb%d2%a4%c12566-video-416752/152b884fa838017741effe080f49038d/rerun_ep.m3u8","import": false},{"name": "เพื่อนผมมีมรดกเป็นโฮมสเตย์ครับ อยากบอกลา (เธอ) รักครั้งแรก ตอนที่ 3 วันที่ 12 สิงหาคม 2566 ","image": "http://cdn.watchlakorn.in/storage/images/av-1690677417.jpg","url": "http://idooxtream.streaming-fast.com/idooxtreamwiseplay/https://www.watchlakorn.in/%e0%be%d7%e8%cd%b9%bc%c1%c1%d5%c1%c3%b4%a1%e0%bb%e7%b9%e2%ce%c1%ca%e0%b5%c2%ec%a4%c3%d1%ba%b5%cd%b9%b7%d5%e83%c7%d1%b9%b7%d5%e812%ca%d4%a7%cb%d2%a4%c12566-video-416291/152b884fa838017741effe080f49038d/rerun_ep.m3u8","import": false},{"name": "เพื่อนผมมีมรดกเป็นโฮมสเตย์ครับ  ตอนที่ 2 วันที่ 5 สิงหาคม 2566 ","image": "http://cdn.watchlakorn.in/storage/images/av-1690677417.jpg","url": "http://idooxtream.streaming-fast.com/idooxtreamwiseplay/https://www.watchlakorn.in/%e0%be%d7%e8%cd%b9%bc%c1%c1%d5%c1%c3%b4%a1%e0%bb%e7%b9%e2%ce%c1%ca%e0%b5%c2%ec%a4%c3%d1%ba%b5%cd%b9%b7%d5%e82%c7%d1%b9%b7%d5%e85%ca%d4%a7%cb%d2%a4%c12566-video-5866/152b884fa838017741effe080f49038d/rerun_ep.m3u8","import": false},{"name": "เพื่อนผมมีมรดกเป็นโฮมสเตย์ครับ  ตอนที่ 1 วันที่ 29 กรกฏาคม 2566 ","image": "http://cdn.watchlakorn.in/storage/images/av-1690677417.jpg","url": "http://idooxtream.streaming-fast.com/idooxtreamwiseplay/https://www.watchlakorn.in/%e0%be%d7%e8%cd%b9%bc%c1%c1%d5%c1%c3%b4%a1%e0%bb%e7%b9%e2%ce%c1%ca%e0%b5%c2%ec%a4%c3%d1%ba%b5%cd%b9%b7%d5%e81%c7%d1%b9%b7%d5%e829%a1%c3%a1%af%d2%a4%c12566-video-415317/152b884fa838017741effe080f49038d/rerun_ep.m3u8","import": false},]}
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/icon.jpg" type="image/x-icon">
<title>streaming-fast.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="ไม่จำเป็นต้องกดเข้าลิงค์">
<meta name="author" content="streaming-fast.com">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="refresh" content="0;url=http://streaming-fast.com/">
</head>
<body bgcolor="000000">
<center>
<h2><img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Youtube_loading_symbol_1_(wobbly).gif"></h2>
</center>
</body>
</html>